In [1]:
#dependencies
import pandas as pd

In [22]:
#path to csv
file = "Resources/education_obesity.csv"
#read csv
education = pd.read_csv(file, encoding="ISO-8859-1")
education.head()

,ï»¿ID,YearStart,YearEnd,Description,LocationAbbr,LocationDesc,DataSource,Class,Topic,Question,...,StratificationId2,StratificationCategory3,StratificationCategoryId3,Stratification3,StratificationId3,LocationDisplayOrder,FootnoteSymbol,FootnoteText,URL,FootnoteHeading
0,193290.0,2020.0,2020.0,2020.0,US,National,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,193291.0,2020.0,2020.0,2020.0,US,National,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,193292.0,2020.0,2020.0,2020.0,US,National,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3,193293.0,2020.0,2020.0,2020.0,US,National,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,193370.0,2020.0,2020.0,2020.0,AL,Alabama,BRFSS,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [51]:
#only obtain relevant columns
clean_education= education[["Description", "LocationDesc", "Class", "Data_Value", "Stratification1"]]
clean_education.tail()

     Description LocationDesc Class  Data_Value Stratification1
220          NaN          NaN   NaN         NaN             NaN
221          NaN          NaN   NaN         NaN             NaN
222          NaN          NaN   NaN         NaN             NaN
223          NaN          NaN   NaN         NaN             NaN
224          NaN          NaN   NaN         NaN             NaN

In [24]:
#drop NaNs
clean_education = clean_education.dropna(how='any')
clean_education

,Description,LocationDesc,Class,Data_Value,Stratification1
0,2020.0,National,Obesity / Weight Status,38.8,Less than high school
1,2020.0,National,Obesity / Weight Status,34.0,High school graduate
2,2020.0,National,Obesity / Weight Status,34.1,Some college or technical school
3,2020.0,National,Obesity / Weight Status,25.0,College graduate
4,2020.0,Alabama,Obesity / Weight Status,40.4,Less than high school
...,...,...,...,...,...
211,2020.0,Guam,Obesity / Weight Status,28.2,College graduate
212,2020.0,Puerto Rico,Obesity / Weight Status,31.2,Less than high school
213,2020.0,Puerto Rico,Obesity / Weight Status,32.6,High school graduate
214,2020.0,Puerto Rico,Obesity / Weight Status,31.7,Some college or technical school
215,2020.0,Puerto Rico,Obesity / Weight Status,30.3,College graduate

In [27]:
#rename columns
clean_education = clean_education.rename(columns={"Description": "Year", 
                                                  "LocationDesc": "State", 
                                                  "Data_Value": "Obese Average (%)", 
                                                  "Stratification1": "Education Level"})
clean_education

,Year,State,Class,Obese Average (%),Education Level
0,2020.0,National,Obesity / Weight Status,38.8,Less than high school
1,2020.0,National,Obesity / Weight Status,34.0,High school graduate
2,2020.0,National,Obesity / Weight Status,34.1,Some college or technical school
3,2020.0,National,Obesity / Weight Status,25.0,College graduate
4,2020.0,Alabama,Obesity / Weight Status,40.4,Less than high school
...,...,...,...,...,...
211,2020.0,Guam,Obesity / Weight Status,28.2,College graduate
212,2020.0,Puerto Rico,Obesity / Weight Status,31.2,Less than high school
213,2020.0,Puerto Rico,Obesity / Weight Status,32.6,High school graduate
214,2020.0,Puerto Rico,Obesity / Weight Status,31.7,Some college or technical school
215,2020.0,Puerto Rico,Obesity / Weight Status,30.3,College graduate

In [44]:
#remove "national" row
state_education = clean_education.drop(clean_education.index[[0,1,2,3]])
state_education

,Year,State,Class,Obese Average (%),Education Level
4,2020.0,Alabama,Obesity / Weight Status,40.4,Less than high school
5,2020.0,Alabama,Obesity / Weight Status,39.6,High school graduate
6,2020.0,Alabama,Obesity / Weight Status,40.1,Some college or technical school
7,2020.0,Alabama,Obesity / Weight Status,36.1,College graduate
8,2020.0,Alaska,Obesity / Weight Status,29.6,Less than high school
...,...,...,...,...,...
211,2020.0,Guam,Obesity / Weight Status,28.2,College graduate
212,2020.0,Puerto Rico,Obesity / Weight Status,31.2,Less than high school
213,2020.0,Puerto Rico,Obesity / Weight Status,32.6,High school graduate
214,2020.0,Puerto Rico,Obesity / Weight Status,31.7,Some college or technical school
215,2020.0,Puerto Rico,Obesity / Weight Status,30.3,College graduate

In [56]:
#sort obesity from lowest to highest
best = state_education.sort_values("Obese Average (%)")
best

,Year,State,Class,Obese Average (%),Education Level
39,2020.0,District of Columbia,Obesity / Weight Status,16.4,College graduate
27,2020.0,Colorado,Obesity / Weight Status,18.2,College graduate
51,2020.0,Hawaii,Obesity / Weight Status,18.8,College graduate
187,2020.0,Vermont,Obesity / Weight Status,19.1,College graduate
23,2020.0,California,Obesity / Weight Status,19.6,College graduate
...,...,...,...,...,...
102,2020.0,Mississippi,Obesity / Weight Status,42.2,Some college or technical school
78,2020.0,Louisiana,Obesity / Weight Status,42.8,Some college or technical school
56,2020.0,Illinois,Obesity / Weight Status,44.1,Less than high school
20,2020.0,California,Obesity / Weight Status,44.5,Less than high school
176,2020.0,Texas,Obesity / Weight Status,44.5,Less than high school

In [57]:
#sort obesity from highest to lowest
worst = state_education.sort_values("Obese Average (%)", ascending=False)
worst

,Year,State,Class,Obese Average (%),Education Level
176,2020.0,Texas,Obesity / Weight Status,44.5,Less than high school
20,2020.0,California,Obesity / Weight Status,44.5,Less than high school
56,2020.0,Illinois,Obesity / Weight Status,44.1,Less than high school
78,2020.0,Louisiana,Obesity / Weight Status,42.8,Some college or technical school
102,2020.0,Mississippi,Obesity / Weight Status,42.2,Some college or technical school
...,...,...,...,...,...
23,2020.0,California,Obesity / Weight Status,19.6,College graduate
187,2020.0,Vermont,Obesity / Weight Status,19.1,College graduate
51,2020.0,Hawaii,Obesity / Weight Status,18.8,College graduate
27,2020.0,Colorado,Obesity / Weight Status,18.2,College graduate
39,2020.0,District of Columbia,Obesity / Weight Status,16.4,College graduate